.skills h2 {
  font-family: "Raleway", sans-serif;
}

.skills-container {
  display: flex;
  margin: 5rem;
}

/* Icon Grid */
@media screen and (max-width: 640px) {
  .skillsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-auto-rows: auto;
    height: auto;
  }
  .skillsGrid img {
    height: 50px;
    width: 50px;
  }
  .skills {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
    background-color: white;
    border: 2px solid slategray;
  }
}

@media screen and (min-width: 641px) {
  .skillsGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    grid-auto-rows: auto;
    height: auto;
  }
  .skillsGrid img {
    height: 50px;
    width: 50px;
  }
  .skills {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 1000px;
    padding-bottom: 1rem;
    background-color: white;
    border: 2px solid slategray;
  }
}

@media screen and (min-width: 1080px) {
  .skillsGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 50px;
    grid-auto-rows: auto;
    height: auto;
  }
  .skillsGrid img {
    height: 50px;
    width: 50px;
  }
  .skills {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 1000px;
    padding-bottom: 1rem;
    background-color: white;
    border: 2px solid slategray;
  }
}
